{% extends "layout/index.html" %}

{% block title %}Create Listing{% endblock %}
{% include 'components/navbar_alt.html' %}
{% block content %}
<div class="container mt-5 content-section">
    <!-- Company Logo (Clickable) -->
    <div class="text-center" id="company-logo">
        <a href="{{ url_for('web.home', username=session['username']) }}">
            <img src="{{ url_for('static', filename='img/cherie-logo-alt.png') }}" alt="Cherie Logo" class="mb-4">
        </a>
    </div>

    <!-- List an Item Box -->
    <div class="row justify-content-center">
        <div class="col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">List an Item</h5>
                    <div class="custom-divider"></div>
                    <form action="{{ url_for('web.create_listing', username=username) }}" method="post"
                        enctype="multipart/form-data">
                        <!-- Photos Upload Section -->
                        <div class="form-group">
                            <label for="photos">Upload Photos (Up to 8):</label>
                            <input type="file" class="form-control" id="photos" name="photos" multiple accept="image/*"
                                max="8">
                        </div>

                        <!-- Description Section -->
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                        </div>

                        <!-- Info Section -->
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select class="form-control" id="category" name="category">
                                <option value="Tops">Tops</option>
                                <option value="Bottoms">Bottoms</option>
                                <option value="Coats and Jackets">Coats and Jackets</option>
                                <option value="Jumpsuits and Rompers">Jumpsuits and Rompers</option>
                                <option value="Suits">Suits</option>
                                <option value="Footwear">Footwear</option>
                                <option value="Accessories">Accessories</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="condition">Condition:</label>
                            <select class="form-control" id="condition" name="condition">
                                <option value="Brand New">Brand New</option>
                                <option value="Like New">Like New</option>
                                <option value="Used - Excellent">Used - Excellent</option>
                                <option value="Used - Good">Used - Good</option>
                                <option value="Used - Fair">Used - Fair</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="size">Size:</label>
                            <select class="form-control" id="size" name="size">
                                <option value="XXL">XXL</option>
                                <option value="XL">XL</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="S">S</option>
                                <option value="XS">XS</option>
                            </select>
                        </div>


                        <!-- Shipping Section -->
                        <div class="form-group">
                            <label class="form-check-label" for="free_shipping">Free Shipping:</label>
                            <input type="checkbox" class="form-check-input ml-2" id="free_shipping"
                                name="free_shipping">
                        </div>

                        <!-- Item Price Section -->
                        <div class="form-group">
                            <label for="price">Item Price (in US$):</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="price" name="price"
                                    placeholder="Enter price in US$">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">List Item</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}