{% extends "layout/index.html" %}

{% include 'components/navbar.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<main>
    <div class="main">
        <div class="content-container">
            <div class="left-side">
                <h1>Welcome, {{ username }}</h1>

                {% if has_listings %}
                <a href="{{ url_for('web.listings', username=username) }}" class="btn">View My Listings</a>
                {% else %}
                <a href="{{ url_for('web.create_listing') }}" class="btn">Get started</a>
                {% endif %}
            </div>
            <div class="right-side">
                <img src="../../static/img/cherry.png" alt="Image" style="width:500px;">
            </div>

        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const nav = document.querySelector("nav");
        const header = document.querySelector("#header");

        window.addEventListener("scroll", function () {
            if (window.scrollY > header.offsetHeight) {
                nav.style.background = "#242526"; // Change to your desired solid background color
            } else {
                nav.style.background = "transparent";
            }
        });
    });
</script>


{% endblock %}