{% extends "layout/index.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
    <div class="main">
        <div class="content-container">
            <div class="left-side">
                <h1>Welcome, {{ username }}</h1>

                {% if has_listings %}
                <a href="{{ url_for('web.listings', username=username) }}" class="btn">View My Listings</a>
                {% else %}
                <a href="{{ url_for('web.create_listing') }}" class="btn">Get started</a>
                {% endif %}
            </div>
            <div class="right-side">
                <!-- Image here -->
                <img src="../../static/img/cherry.png" alt="Image" style="width:500px;">
            </div>

        </div>
    </div>
</main>

<script>
    // Modal Script
    var modal = document.getElementById("listingModal");

    function openModal() {
        modal.style.display = "block";
    }

    function closeModal() {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            closeModal();
        }
    }
</script>

<style>
    .content-container {
        display: flex;
        align-items: center;
        /* Vertically center content */
    }

    .left-side {
        flex: 1;
        /* Take up available space */
        padding: 100px;
        /* Adjust as needed */
    }

    .right-side {
        flex: 1;
        /* Take up available space */
        padding: 20px;
        /* Adjust as needed */
    }

    /* Add any additional styling you need */
</style>

{% endblock %}