{% extends "layout/index.html" %}

{% block title %}Your Listings{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Company Logo (Clickable) -->
    <div class="text-center" id="company-logo">
        <a href="{{ url_for('auth.login') }}">
            <img src="{{ url_for('static', filename='img/cherie-logo-alt.png') }}" alt="Cherie Logo" class="mb-4">
        </a>
    </div>

    <!-- Pagination Controls -->
    <div class="row justify-content-center">
        <div class="col-md-10">
            <ul class="pagination" id="pagination">
                <!-- Pagination links will be added here using JavaScript -->
            </ul>
        </div>
    </div>

    <!-- Listings Table -->
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-hover" id="product-list-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Condition</th>
                        <th>Size</th>
                        <th>Free Shipping</th>
                        <th>Price (US$)</th>
                        <th>Action</th> <!-- Add a new column for the action button -->
                    </tr>
                </thead>
                <tbody>
                    <!-- This is where the paginated products will be displayed -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Create Listing Button -->
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <a href="{{ url_for('web.create_listing') }}" class="btn btn-primary btn-lg">Create Listing</a>
        </div>
    </div>

    <!-- Footer -->
    <footer class="mt-5 text-center">
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Customer Service</a>
    </footer>
</div>
<!-- Modal for editing and deleting listing -->
{% for product in products %}
<div class="modal fade editModal" id="editModal{{ product.product_id }}" tabindex="-1" role="dialog"
    aria-labelledby="editModalLabel{{ product.product_id }}" aria-hidden="true">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel{{ product.product_id }}">Edit Listing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('web.update_listing', product_id=product.product_id) }}" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit-description">Description</label>
                        <textarea class="form-control" id="edit-description" name="edit-description"
                            rows="5">{{ product.description }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="edit-category">Category</label>
                        <select class="form-control" id="edit-category" name="edit-category">
                            <option value="Tops">Tops</option>
                            <option value="Bottoms">Bottoms</option>
                            <option value="Coats and Jackets">Coats and Jackets</option>
                            <option value="Jumpsuits and Rompers">Jumpsuits and Rompers</option>
                            <option value="Suits">Suits</option>
                            <option value="Footwear">Footwear</option>
                            <option value="Accessories">Accessories</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edit-condition">Condition:</label>
                        <select class="form-control" id="edit-condition" name="edit-condition">
                            <option value="Brand New">Brand New</option>
                            <option value="Like New">Like New</option>
                            <option value="Used - Excellent">Used - Excellent</option>
                            <option value="Used - Good">Used - Good</option>
                            <option value="Used - Fair">Used - Fair</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edit-size">Size</label>
                        <select class="form-control" id="edit-size" name="edit-size">
                            <option value="XXL">XXL</option>
                            <option value="XL">XL</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="S">S</option>
                            <option value="XS">XS</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edit-free-shipping" class="d-flex align-items-center">
                            Free Shipping
                            <input type="checkbox" class="ml-2" id="edit-free-shipping" name="edit-free-shipping" {% if
                                product.free_shipping %}checked{% endif %}>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="edit-price">Price (US$):</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="edit-price" name="edit-price" min="0"
                                value="{{ product.price }}">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">


                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger delete-button"
                        data-product-id="{{ product.product_id }}">
                        Delete
                    </button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endfor %}

<!-- Include Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Bootstrap JS (after jQuery) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        var products = {{ products | tojson | safe
    }};
    var itemsPerPage = 10; // Number of items to display per page
    var currentPage = 1;
    function paginate() {
        var startIndex = (currentPage - 1) * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;
        var paginatedProducts = products.slice(startIndex, endIndex);
        // Clear existing content in the table body
        $("#product-list-table tbody").empty();

        // Populate the table with paginated products
        paginatedProducts.forEach(function (product) {
            var row = `
        <tr>
            <td>${product.description}</td>
            <td>${product.category}</td>
            <td>${product.condition}</td> <!-- Add other fields here as needed -->
            <td>${product.size}</td>
            <td>${product.free_shipping ? 'Yes' : 'No'}</td>
            <td>${product.price}</td>
            <td>
                <button class="btn btn-primary" data-toggle="modal" data-target="#editModal${product.product_id}">Edit</button>
            </td>
        </tr>
    `;
            $("#product-list-table tbody").append(row);
        });


        // Update pagination controls
        updatePagination();
    }

    function updatePagination() {
        var totalPages = Math.ceil(products.length / itemsPerPage);
        var pagination = $("#pagination");

        pagination.empty();

        if (totalPages > 1) {
            for (var i = 1; i <= totalPages; i++) {
                pagination.append(`
                    <li class="page-item ${i === currentPage ? 'active' : ''}">
                        <a class="page-link" href="#" data-page="${i}">${i}</a>
                    </li>
                `);
            }
        }
    }

    // Initial pagination
    paginate();

    // Handle page click
    $("#pagination").on("click", "a.page-link", function (event) {
        event.preventDefault();
        currentPage = parseInt($(this).data("page"));
        paginate();
    });
});
</script>

<script>
    $(document).ready(function () {
        // Add an event listener for the "Delete" button click
        $(".delete-button").on("click", function () {
            var productId = $(this).data("product-id");
            console.log("THIS IS THE PRODUCT ID: ", productId);

            // Send an AJAX request to delete the product
            $.ajax({
                url: "/delete_listing/" + productId,
                type: "POST",
                success: function (response) {
                    // Handle the success response
                    if (response.success) {
                        // Close the modal
                        $("#editModal" + productId).modal("hide");

                        // Remove the modal backdrop manually
                        $(".modal-backdrop").remove();

                        // Remove the deleted item from the UI
                        $("#product-" + productId).remove();

                        location.reload();
                    } else {
                        // Handle the case where deletion was not successful
                        alert("Failed to delete the listing.");
                    }
                },
                error: function () {
                    // Handle the case where an error occurred during the deletion request
                    alert("An error occurred while deleting the listing.");
                }
            });
        });
    });
</script>

{% endblock %}