/* ---------------- Styling for sign in page ---------------- */
body {
    margin: 0;
    padding: 0;
}

/* CSS for the divider */
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-top: 20px;

    padding-bottom: 20px;

}

.divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    opacity: 0.5;
    margin: 0 10px;
}

.divider-text {
    font-size: 14px;
    opacity: 0.5;
    margin: 0 5px;
}

/* Custom CSS for the registration page */
#register-box {

    max-width: 100%;
    margin: 1rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles for the hero header */
main {
    width: 100%;
    height: calc(100vh - 30px);
    background-color: #fff;
    background-image: url(../../static/img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.main h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn {
    background-color: #fff;
    color: #3A3B3C;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3A3B3C;
    color: #fff;
}

h1 {
    margin: 0;
}

.content-container {
    display: flex;
    align-items: center;
}

.left-side {
    flex: 1;
    padding: 100px;
}

.right-side {
    flex: 1;
    padding: 20px;
}

/* ---------------- Edit modal ---------------- */
.editModal .modal-dialog {
    width: 700px;
}

.editModal.modal.show {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.editModal .modal-backdrop {
    opacity: 0.05 !important;
}

.editModal .modal-backdrop.show {
    opacity: 0.05 !important;
    pointer-events: none;
}

/* ---------------- Styling flash message ---------------- */
.flash-message {
    opacity: 0;
    transition: opacity 0.5s;
    position: fixed;
    top: 90%;
    left: 80%;
    background-color: #e74c3c;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}

.custom-divider {
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

/* Styling for the pagination */
.pagination .page-link {
    background-color: #fff;
    border-color: #3A3B3C;
    color: #3A3B3C;
    /* Set the default color for page links */
}

.pagination .page-link:hover {
    background-color: #3A3B3C;
    color: #ffff;
}

.pagination .page-item.active .page-link {
    background-color: #3A3B3C;
    /* Darker background for the current page */
    border-color: #3A3B3C;
    /* Border color for the current page */
    color: #fff;
    /* White text color for the current page */
}

/* CSS for the footer */
footer {
    background-color: #3A3B3C;
    color: #fff;
    padding: 40px;
    text-align: center;
}

/* CSS for footer links */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

/* CSS for footer links on hover */
footer a:hover {
    color: #c9c6c2;
}

/* Apply top margin or padding to the content section to create space beneath the navbar */
.content-section {
    margin-top: 200px;
}

/* Remove the outline when an element is in focus */
*:focus {
    outline: none;
}